<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SzuperOlcsó Gyümölcs Webshop🍎</h1>
    <div id="kosar">

    </div>

    <div id="termekek">
        <ul>
        {% for item in items %}
            <li>{{ item.name }} - {{ item.price }}Ft
                <button onclick="addToCart('{{item}}', '{{item.id}}')">+</button>
            </li>
        {% endfor %}
        </ul>
    </div>

    <script>
        let cartItems = []

        function addToCart(item, id){
            console.log(item, id);
            let amountAdded = false
            cartItems.forEach(itemTemp => {
                if(itemTemp.id == id){
                    itemTemp.amount = itemTemp.amount + 1
                    console.log(cartItems);
                    amountAdded = true
                }
            })
            if(!amountAdded){
                cartItems.push({
                    'id': id,
                    'name': item,
                    'amount': 1
                })
            }
            refreshKosar()
        }

        function refreshKosar(){
            let kosar = document.getElementById('kosar')
            kosar.innerHTML = ""
            
            cartItems.forEach(item => {
                let itemEl = document.createElement('div')
                itemEl.innerText = `${item.name} - ${item.amount}`
                kosar.appendChild(itemEl)
            })
        }
    </script>
</body>
</html>